doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div BellBoardへようこそ
      div
        ul
          if user
            li 
              a(href="/logout") #{user.username} をログアウト
            li displaynameは #{user.displayName}
          else
            li
              a(href="/login") ログイン画面へ
    block content
